{% extends "base.html" %} 

{% block title %}List{% endblock title %}

{% block content %}
<br>
<div class="row  margintop">
  {% for destination in destinations %}
  <div class="col-12 col-md-6 col-lg-12"> 
  <div class="card-deck">
  <div class="card border-light mb3 cards" width= "18rem;">
  	<a href="{% url 'destination-detail' destination.id %}">
    <img class="card-img-top" src="{{destination.pretty_picture.url}}" >
    <div class="card-body">
      <h3 class="card-title" style="font-weight: bold;">{{destination.name}}</h3>
      <p class="card-text">{{destination.activities}}</p> 
    </div>
  </div>
  </div>
  </a>
  {% endfor %}
</div>
{% endblock content %}


